/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #334f7d
}

/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: #a8c4ed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #56337d;
}

.active {
  background-color: #56337d;
}

h1 {
  width: 100%;
  font-family: "Rock Salt", cursive;
}
